#listaLivros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e1e2f;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  color: white;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.sinopse {
  font-size: 14px;
  margin: 8px 0;
}

.estrelas span {
  font-size: 22px;
  cursor: pointer;
  color: gold;
}
